<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
    <div class="d-flex align-items-center">
      <div class="px-1">
        <%= image_tag "https://res.cloudinary.com/dwzrjmdwm/image/upload/v1657827426/Boias%20Brasil/1_ykjxtn.png" %>
      </div>
      <div>
        <h1 class="mb-0 px-2">Boias-Brasil<h1>
      </div>
    </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-#0F4980" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Programação", programation_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projetos">Sobre</a>
        </li>
        <li class="nav-item">
          <%= link_to "Inscrição", new_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
