<div data-controller="display-numbers" data-action="scroll@window->display-numbers#updateNumber:!passive">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active banner-container" data-bs-interval="4500" style="background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0)), url(https://res.cloudinary.com/dwzrjmdwm/image/upload/v1659018861/Boias%20Brasil/IMG_20220604_144029_qhdiay.jpg);">
        <div class="d-flex w-100 h-100 align-items-md-center">
          <p id="first-img-text">PNBOIA completa 20 anos, venha fazer parte desta história.</p>
        </div>
      </div>
      <div class="carousel-item banner-container" data-bs-interval="4000" style="background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0.6,0,0,0)), url(https://res.cloudinary.com/dwzrjmdwm/image/upload/v1659010583/Boias%20Brasil/DSC_0180_c9g9r9.jpg);">
        <div class="d-flex flex-column w-100 h-100 justify-content-center">
          <p>PNBOIA completa 20 anos, venha fazer parte desta história.</p>
          <%= link_to "Inscrever", new_user_registration_path, class:"btn-donation mt-2" %>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="info-cards">
    <div class="card-category">
      <h2 data-display-numbers-target> <%= 10 %></h2>
      <h4 class="px-2"> Boias lançadas</h4>
    </div>
    <div class="card-category">
      <h2 data-display-numbers-target><%= 80 %></h2>
      <h4 class="px-2"> Trabalhos publicados</h4>
    </div>
    <div class="card-category">
      <h2 data-display-numbers-target="center"><%= Donation.count(:pharmacy_id) %></h2>
      <h4 class="px-2"> xxxxxx</h4>
    </div>
  </div>
  <div class="projetos">
    <div class="container text-justify" id="projetos">
      <h2>Sobre </h2>
      <div class="align-items-center">
        <div class="text-justify">
          <h6>O Programa Nacional de Boias (PNBOIA), gerenciado pelo Centro de Hidrografia da Marinha (CHM), tem por objetivo geral, disponibilizar à
          comunidade de interessados, os dados meteorológicos e oceanográficos, obtidas nas áreas oceânicas de interesse do Brasil em tempo quase-real.
          Estes dados são provenientes de boias meteocenográficas fixas e de deriva que estão disposta ao longo da costa brasileira. Essas boias constituem
          uma rede com o objetivo de fornecer dados meteorológicos e oceanográficos em tempo real para a sociedade, para a comunidade científica e para o S
          erviço Meteorológico Marinho (SMM) da MB. </h6>
        </div>
      </div>
      <div class="align-items-center mt-2">
        <div class="text-justify">
          <h6>O PNBOIA foi criado em 1997 e o seu primeiro sistema de coleta de dados foi implementado em 2000, com o lançamento de uma boia meteoceanográfica
          no litoral sul do Brasil. O PNBOIA é a primeira iniciativa brasileira, em nível nacional, para o monitoramento operacional de informações meteorológicas
            e são essenciais para a melhoria da previsão meteorológica marinha e climatológica sobre a região do Oceano Atlântico Sul e tropical.</h6>
        </div>
      </div>
      <div class="align-items-center mt-2">
        <div class="text-justify">
          <h6>Em complementação ao PNBOIA, o CHM, em parceria com a Petrobras, desenvolveram o projeto “Consolidação para o Desenvolvimento da Boia Meteoceanográfica
          Nacional” (REMObs). Em sua forma mais abrangente, o seu objetivo é consolidar o desenvolvimento da Boia Meteoceanográfica Nacional (BMO-BR), por meio da
          coleta de dados meteorológicos e oceanográficos de modo a atender demandas da Indústria de Petróleo (Pré-Sal), da Defesa Nacional e da Segurança da Navegação.
          Como objetivos específicos, o projeto prevê também complementar a rede de coleta de dados do Programa Nacional de Boias (PNBOIA) na obtenção de dados ambientais.</h6>
        </div>
      </div>
      <div class="align-items-center mt-2">
        <div class="text-justify">
          <h6>Ao longo dos mais de 22 anos de coleta efetiva de dados, o PNBOIA e o REMObs já realizaram o lançamento de 22 boias de fundeio ao longo da costa brasileira
          e Antártica, além do lançamento de boias de deriva e outros sistemas autônomos de coleta de dados ambientais.</h6>
        </div>
      </div>
	</div>

  <div class="container text-justify">
        <div class="container text-justify">
        <h2>Realização </h2>
      </div>
       <div class="icon-cards">
    <div class="icon-category">
      <div class="icon-image">
        <%= image_tag("https://res.cloudinary.com/dwzrjmdwm/image/upload/v1657829413/Boias%20Brasil/marinha-brasil-logo-2_ehcuxd.png") %>
      </div>
    </div>
    <div class="icon-category">
      <div class="icon-image">
        <%= image_tag("https://res.cloudinary.com/dwzrjmdwm/image/upload/v1657829396/Boias%20Brasil/brasao_divzd1.png") %>
      </div>
    </div>
    <div class="icon-category">
      <div class="icon-image">
        <%= image_tag("https://res.cloudinary.com/dwzrjmdwm/image/upload/v1657829659/Boias%20Brasil/logo-petrobras-escudo-2048_wei4ye.png") %>
      </div>
    </div>
    </div>
  </div>
  </div>

       <div class="patrocinadores">
      <div class="container">
        <h2>Patrocinadores </h2>
      </div>


  <div class="patrocínio">
    <div class="container" id="patrocínio">
      <h2>Patrocinadores2</h2>
    </div>
  </div>
</div>
